@import "../../../common/styles/sass/variables.scss";
@import "../../../common/styles/sass/mixins.scss";

.skill {
  background: $bgSecondaryColor;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  clear: both;
  margin: 20px;
  @include volumeBlock
  (10px, 10px, 0px 0px 8px rgba(0, 0, 0, 0.5),
          0px 0px 8px rgba(0, 0, 0, 0.5));
  position: relative;
  z-index: 90;
  max-height: max-content;
}


.skill:hover {
  @include volumeBlockHover (scale(1.15)-transform, scale(1.15), scale(1.15),
  all 0.3s ease-out, all 0.3s ease-out, all 0.3s ease-out, pointer);
}


.icon {
  width: 60px;
  height: 60px;
  background: #87cefa;
}

.text {
  @include text($fontFamily, 14px, 1, 500);
}


