.mainBlock{
    min-height: 100vh;
    background-color: thistle;
}

.text{
    width: 450px;
    background-color: #128124;
 }

.photo{
    width: 300px;
    height: 400px;
    background-color: cornflowerblue;
}
