@import "../../common/styles/sass/variables.scss";
@import "../../common/styles/sass/mixins.scss";

.mainBlock{
    min-height: 100vh;
    border-bottom: 0.5px solid #ffffff;
    display: flex;
    align-items: center;
}

.text{
    width: 450px;
    font-family: $fontFamily;
 }

.text p{
    font-size: 20px;
}

.photo{
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include volumeBlock (10px, 10px,
            0px 0px 8px rgba(0, 0, 0, 0.5),
            0px 0px 8px rgba(0, 0, 0, 0.5));
    position: relative;
    z-index: 90;
}

.photo:hover{
    @include volumeBlockHover (scale(1.15)-transform, scale(1.15), scale(1.15),
            all 0.2s ease-out, all 0.2s ease-out, all 0.2s ease-out, pointer);
}

