@import "../../../common/styles/sass/mixins.scss";

.form_block {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 280px;
  font-family: 'Heebo', sans-serif;

  & input {
    height: 50px;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 10px;
    @include volumeBlock(10px, 10px,
            0px 0px 8px rgba(0, 0, 0, 0.5),
            0px 0px 8px rgba(0, 0, 0, 0.5));

    &::placeholder {
      font-family: 'Heebo', sans-serif;
    }

    &:focus {
      background: #a78cff;
    }
  }

  & textarea {
    height: 200px;
    font-size: 24px;
    padding: 10px;
    @include volumeBlock(10px, 10px,
            0px 0px 8px rgba(0, 0, 0, 0.5),
            0px 0px 8px rgba(0, 0, 0, 0.5));

    &::placeholder {
      font-family: 'Heebo', sans-serif;
    }

    &:focus {
      background: #a78cff;
    }
  }

}

@media screen and (min-width: 758px) {
  .form_block {
    width: 550px;
  }
}

