.footer_block {
    border-top: 0.5px solid #ffffff;
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
    flex-wrap: wrap;
}

.footer_menu_item{
    background: cadetblue;
    height: 150px;
    width: 70px;
    box-sizing: border-box;
}

.footer_container p{
    font-size: 1.2em;
}