$textColor: #ffffff;
$bgPrimaryColor: linear-gradient(90deg, rgba(162,111,208,1) 0%, rgba(57,9,101,1) 0%, rgba(99,31,159,1) 13%, rgba(137,51,212,1) 36%, rgba(122,14,214,1) 75%, rgba(79,51,103,1) 100%);
$bgSecondaryColor: rgb(62,7,111) radial-gradient(circle, rgba(62,7,111,1) 0%, rgba(94,23,158,1) 92%);
$frameColor: #5605b2;
$fontFamily:Nunito, sans-serif;
